---
layout: layout.liquid
title: JavaScript Demo UX815
---

<h1>Alpine.js <strong>Demo </strong>UX 815</h1>
<img alt="pine" src="/images/pine.png" width="50" />
<div x-data="{names: ['Thom', 'Jeff', 'Aimee', 'Steve', 'Jack', 'Anna', 'Parker', 'Marshall', 'Kaylee', 'Krista']}">
    <div x-data="{ nameFinal : 'Awaiting name...' }">
        <button @click="randInt = namepicker(0, 9), nameFinal = names[randInt]">Click me!</button>
        <h1 x-text="nameFinal"></h1>
    </div>
</div>