---
title: 11ty Boilerplate
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/styles/screen.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/yegor256/tacit@gh-pages/tacit-css-1.9.5.min.css"/>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/" title="Go home">Home</a></li>
    </ul>
  </nav>
    {{ content }}
</body>
<script src="//unpkg.com/alpinejs" defer></script>
<script src="/scripts/script.js"></script>
</html>